/* Include this in your component's CSS or global styles */
.dropdown-menu {
    display: none;
    background-color: rgb(33, 37, 41); 
    color: white;
  }
  
  .show .dropdown-menu {
    display: block;
  }
  .custom-dropdown .dropdown-item {
    background-color: rgb(33, 37, 41) !important;
    color: rgb(155 157 158) !important;
}

  