<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container" style="margin-left: 10px;">
        <img src = "../../../assets/images/logooo-removebg-preview.png" alt="University SVG" width="270px" height="50px" />
        <button (click)="toggleDisplayDivIf()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngClass]="{'collapse': !isShowDivIf, 'navbar-collapse': true, 'responsive__active': isShowDivIf, 'responsive__inactive': !isShowDivIf}"
            id="navbarResponsive" class="offset-md-5 offset-s-3">
            <ul class="navbar-nav ml-auto">
                <li (click)="toggleDisplayDivIf()" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="#">Home
                    </a>
                </li>
                <li class="nav-item dropdown" [ngClass]="{ show: isDropdownOpen1 }">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown(1)">Université</a>
                    <div class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Université</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Ville</a>
                    </div>
                </li>
                <li (click)="toggleDisplayDivIf()" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/lazyDep">Département</a>
                </li>
                <li (click)="toggleDisplayDivIf()" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/lazyCla">Classe</a>
                </li>
                <li class="nav-item dropdown" [ngClass]="{ show: isDropdownOpen2 }">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown(2)">Equipe</a>
                    <div class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Equipe</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Détails Equipe</a>
                    </div>
                </li>
                <li class="nav-item dropdown" [ngClass]="{ show: isDropdownOpen3 }">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown(3)">Projet</a>
                    <div class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Projet</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Détails Projet</a>
                    </div>
                </li>
                <li class="nav-item dropdown" [ngClass]="{ show: isDropdownOpen4 }">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                        aria-haspopup="true" aria-expanded="false" (click)="toggleDropdown(4)">Foyer</a>
                    <div class="dropdown-menu custom-dropdown" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Foyer</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Bloc</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Chambre</a>
                    </div>
                </li>  
                <li class="nav-item ">
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>       
                <li class="nav-item offset-md-4">
                    <a class="nav-link" href="/profile">
                        <div class="avatar">
                            <img src="../../../assets/svg/user-svgrepo-com.svg" alt="User Avatar" width="30px" height="30px">
                        </div>
                    </a>
                </li>                                                 
            </ul>
        </div>
        <div>
            
        </div>
    </div>
</nav>
<!-- </div>
        <div class="offset-md-3">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <img src="../../../assets/svg/user-svgrepo-com.svg" alt="User Avatar" width="30px" height="30px"
                            style="border-radius: 50%;">
                    </a>
                </li>
                <li class="nav-item mt-1">
                    <a class="nav-link" routerLink="#">Logout</a>
                </li>                                            
            </ul>
        </div>
        <button (click)="toggleDisplayDivIf()" class="navbar-toggler" style="float: inline-end;" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav> -->