<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-1">
            <a href="#" class="logo mb-5"
                style="background-image: url(../../../assets/images/logooo-removebg-preview.png);"></a>
            <p class="d-flex justify-content-center"
                style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 700;">UNI-CONNECT</p>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a routerLink="/user/show/">User</a>

                </li>
                <li>
                    <a routerLink="lazyDep/">Department</a>
                </li>
                <li>
                    <a routerLink="lazyCla/">Classe</a>
                </li>

                <li>
                    <a routerLink="lazyCla/">Foyer</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Pages</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#">Page 1</a>
                        </li>
                        <li>
                            <a href="#">Page 2</a>
                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>

            <div class="footer">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">RenovAct.com</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>

        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M3 18h18v-2H3v2zM3 6v2h18V6H3zm0 7h18v-2H3v2z" />
                    </svg>
                    <span class="sr-only">Toggle Menu</span>
                </button>
                <a routerLink="/profile"><img src="../../../assets/svg/avatar-svgrepo-com.svg" class="avatar" alt="avatar"> Welcome {{userProfile.username}}</a>
            </div>
        </nav>
        <!-- Content from router-outlet will be displayed here -->
        <router-outlet></router-outlet>
    </div>
</div>