<!--<div class="card">
    <form [formGroup]="myForm" (ngSubmit)="edit()">
       <input type="hidden" formControlName="idBloc">
 
       <div class="form-group">
          <label for="nomBloc">Nom du Bloc</label>
          <input type="text" class="form-control" id="nomBloc" formControlName="nomBloc">
       </div>
 
       <div class="form-group">
          <label for="capaciteBloc">Capacité du Bloc</label>
          <input type="text" class="form-control" id="capaciteBloc" formControlName="capaciteBloc">
       </div>
 
       <input type="submit" class="btn btn-primary" value="Modifier">
    </form>
 </div>-->
<!-- update-detailprojet.component.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!-- Autres balises meta et liens CSS si nécessaires -->
</head>
<body>
  <div class="main-content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card mt-5">
            <div class="card-header card-header-danger text-center">
              <h2>Mettre à jour de bloc</h2>
              <p>Veuillez remplir le formulaire suivant</p>
            </div>
            <div class="card-body">
             <form [formGroup]="updateBloc" (ngSubmit)="editBloc()">
  <!-- Description Detail input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="nomBloc">nom bloc</label>
    <input id="nomBloc" name="nomBloc" class="form-control" formControlName="nomBloc"/>
  </div>

  <!-- Technologie input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="capaciteBloc">capacite bloc</label>
    <input type="text" id="capaciteBloc" name="capaciteBloc" class="form-control" formControlName="capaciteBloc">
  </div>

  <!-- Update button -->
  <div class="d-flex justify-content-start mt-4">
    <button type="submit" class="btn btn-primary w-20 mx-2">Update</button>

    <!-- Return button -->
    <button type="button" class="btn btn-primary w-20 mx-2" [routerLink]="['/bloc/show/']">
      Retourner
    </button>
  </div>
</form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>